<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Busca un personaje</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item>
            <ion-label floating>
                <ion-icon name="search"></ion-icon> Escribe el nombre o parte de el
            </ion-label>
            <ion-input type="text" #searchBox id="search-box" (keyup)="search(searchBox.value)"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item ion-item *ngFor="let article of filteredArticles | async"
                  (click)="openDetails(article.id)">
            <ion-avatar item-left>
                <img src="{{ article.pic }}">
            </ion-avatar>
            <h2>{{ article.name }}</h2>
        </ion-item>
    </ion-list>

</ion-content>
