page-home {
    ion-card {
        cursor: pointer;
        height: 100%;
        position: relative;
        text-align: center;

        ion-card-title {
            ion-icon {
                float: right;

                &[class*="sunny"] {
                    color: darkblue;
                }

                &[class*="moon"] {
                    color: darkred;
                }

                &[class*="people"] {
                    color: darkgreen;
                }
            }
        }

        ion-card-content {
            p {
                text-align: left;
            }

            footer {
                bottom: 0;
                position: absolute;
            }
        }

        &:hover {
            img {
                opacity: .7;
            }
        }
    }
}
