<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Mitología</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div padding *ngIf="categories">
        <ion-segment [(ngModel)]="currentcategory">
            <ion-segment-button
                    [value]="-1"
                    (ionSelect)="setCurrentCategory(-1)">Todos</ion-segment-button>
            <ion-segment-button *ngFor="let categorysegment of categories"
                                [value]="categorysegment.categoryid"
                                (ionSelect)="setCurrentCategory(categorysegment.categoryid)">
                {{ categorysegment.name }}
            </ion-segment-button>
        </ion-segment>
    </div>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let article of (categorizedarticles | async)"
                         col-xl-4 col-lg-6 col-md-6 col-sm-12>
                    <ion-card (click)="openDetails(article.id)">
                        <img src="{{ article.pic }}" alt='{{ article.id }}'>
                        <ion-card-content>
                            <ion-card-title text-left>
                                {{article.name}}
                                <ion-icon [name]="icons[article.category]"></ion-icon>
                            </ion-card-title>
                            <p>
                                {{ article.description }}
                            </p>
                            <ion-item>
                                <ion-icon *ngFor="let star of createRating(article.rating)"
                                          name="star" item-left></ion-icon>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
    </ion-grid>
    </div>
</ion-content>
