// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon[name=star] {
    color: gold;
}

ion-header {
    background: #7f94d3;
    height: 90px;
}

ion-navbar {
    font-family: 'Exo 2', sans-serif;
    height: 100%;

    .toolbar-title {
        font-size: 36px;
    }
}

.scroll-content {
    overflow: auto;
}

@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Exo+2');

