<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Añade un personaje</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="character">
        <ion-item>
            <ion-label floating>Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="character.name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Descripción</ion-label>
            <ion-textarea [(ngModel)]="character.description"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label>Categoría</ion-label>
            <ion-select [(ngModel)]="character.category" [selectOptions]="categories">
                <ion-option *ngFor="let category of categories" value="category.categoryid">
                    {{ category.name }}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating>Foto (introduce una url)</ion-label>
            <ion-input type="text" [(ngModel)]="character.pic"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Rating inicial</ion-label>
            <ion-range min="1" max="5" step="1" [(ngModel)]="character.rating">
                <ion-label range-left>1</ion-label>
                <ion-icon small range-left name="star"></ion-icon>
                <ion-label range-right>5</ion-label>
                <ion-icon range-right name="star"></ion-icon>
            </ion-range>
        </ion-item>

        <ion-item>
            <p>La calificación inicial es: <ion-badge>{{ character.rating }}</ion-badge></p>
        </ion-item>

        <ion-item>
            <button ion-button large (click)="addArticle()">Enviar</button>
        </ion-item>
    </ion-list>
</ion-content>