<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Detalles</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid *ngIf="article && category">
        <ion-row>

            <ion-col col-12 col-md-6 col-lg-6 col-xl-6>
                <ion-card>
                    <ion-card-header>
                        <h3>{{ category.name }}</h3>
                    </ion-card-header>
                    <img src="{{ article.pic }}">
                    <ion-card-content>
                        <ion-card-title>{{ article.name }}</ion-card-title>
                        <ion-item>
                            <ion-icon *ngFor="let star of createRating(this.ratingsaverage ? this.ratingsaverage : article.rating)"
                                      name="star" item-left></ion-icon>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col padding class="article_description">
                <ion-row>
                    <ion-col>
                        {{ article.description }}
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <button ion-button
                                color="primary"
                                (click)="rateArticle()">
                            Opina sobre este personaje
                        </button>
                        <div *ngIf="this.ratingscount && this.ratingsaverage">
                            <p>Article has been rated {{ this.ratingscount }}</p>
                            <p>Rating average {{ this.ratingsaverage }}</p>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
