page-details {
    .article_description {
        .rating {
            height: 46px;
            line-height: 46px;

            button {
                float: right;
            }
        }
    }
}

rate-modal {
    .scroll-content {
        overflow: hidden;
    }
}

