<ion-header>
    <h2 text-center>Rate this article!</h2>
</ion-header>
<ion-content>
    <ion-item>
        <ion-range min="1" max="5" step="1" [(ngModel)]="currentrating">
            <ion-label range-left>1</ion-label>
            <ion-icon small range-left name="star"></ion-icon>
            <ion-label range-right>5</ion-label>
            <ion-icon range-right name="star"></ion-icon>
        </ion-range>
    </ion-item>
    <div class="rating" padding extrapadding>
        <p>
            La nota es:
            <ion-badge color="primary">{{ currentrating }}</ion-badge>
        </p>

        <button ion-button
                color="secondary"
                (click)="rateArticle(articleid, currentrating)">
            Enviar
        </button>
    </div>
</ion-content>
